<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <TITLE> Building teams </TITLE>
</HEAD>
<BODY>
    <h1>Hi there!</h1> 
    <p>This is a simple web app that uses Torre Bios and People API</p>
    <p>At this moment you're able to:</p>
    <h4> Get <a href="templates/getUser.html">general info</a> about an user, given its public_Id </h1>
    <h4> <a href="candidatesandskills.html">Build a team </a>: Give us a public_Id and some skills and you will get a list of candidates which are strong on those skills</h1>
</BODY>
</HTML>