*.pyc
*~
functions/__pycache__/userDataSkills.cpython-34.pyc
functions/__pycache__/userDataSkills.cpython-34.pyc
functions/__pycache__/ConnectingUser.cpython-34.pyc
functions/__pycache__/GettingSkillsforCandidates.cpython-34.pyc
functions/__pycache__/userDataSkills.cpython-34.pyc
getting
gettingdata.py
functions/__init__.py
functions/ConnectingUser.py
functions/GettingSkillsforCandidates.py
functions/userDataSkills.py
functions/__pycache__/__init__.cpython-34.pyc
functions/__pycache__/ConnectingUser.cpython-34.pyc
functions/__pycache__/GettingSkillsforCandidates.cpython-34.pyc
functions/__pycache__/userDataSkills.cpython-34.pyc
models/__init__.py
models/UserData.py
models/UserTeam.py
models/__pycache__/__init__.cpython-34.pyc
models/__pycache__/UserData.cpython-34.pyc
models/__pycache__/UserTeam.cpython-34.pyc
static/templates/index.html
